* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "site-header site-header site-header" "menu content socials" "site-footer site-footer site-footer";
  -ms-grid-rows: 60px 1fr 60px;
      grid-template-rows: 60px 1fr 60px;
  -ms-grid-columns: 80px 1fr 100px;
      grid-template-columns: 80px 1fr 100px;
  grid-gap: 10px;
  height: 100vh;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: site-header;
  background-color: #999;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: site-footer;
  background-color: #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: menu;
  background-color: #555;
}

.menu ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu ul li {
  padding: 10px 0;
  color: #fff;
}

.content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  background-color: #666;
}

.content .content__title {
  text-align: center;
}

.content .content__text {
  font-size: 20px;
}

.socials {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: socials;
  background-color: #888;
}
